{% extends "base_temp.html" %}
{% load static %}
{% block style_link %}
{% static 'style.css' %}
{% endblock %}
{% block page_content %}
<div class="row mx-auto">
	<div class="col-12">
		<h2>About Me</h2>
	</div>
	<div class="col-md-2">
		<img src="{% static "img/real_zach.jpg" %}" class="img-fluid">
	</div>
	<div class="col-md-10">
		<p>
			adlfkjaweo0fij;sladk awoeifja adofjiopwe adfkj aowij 
		</p>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="aboutme">
	<h1>About Me</h1>
	<img src="{% static "img/real_zach.jpg" %}"> 
	<p>
		<b>HELLO!</b><br><br>
		My name is Zachary Skelton. I graduated from Clemson University on May 2020 with a Bachelors of Science degree in computer engineering.
	</p>
</div>
{% endblock %}
